.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  height: 100%;
  max-height: calc(100vh - 140px);
  max-width: 80%;

  .card {
    div[class~="ant-card-body"] {
      padding: 16px 20px;
    }

    .text,
    .button {
      white-space: pre-wrap;
      font-size: 12px;
    }

    .button {
      border-radius: 10px;
    }
  }
}
